<div class="container container1">
  <!-- <h1>Hey Vanessa!</h1> -->
  <h1>Hey {{ name$ | async | titlecase }}!</h1>
  <p>Juan has a surprise for you</p>
  <div>(scroll down)</div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
<div class="container container2">
  <p class="title">
    You are invited to my <span class="underline">shared</span> birthday party!
  </p>
  <p class="small strange">
    A shared birthday is a party in which everyone gets a present. We randomly distribute the presents so that everyone leaves with something nice!
  </p>
  <p class="smaller">(Yes! You should bring a present)</p>
  <p class="even-smaller">(No worries, anything would do)</p>
</div>
<div class="container container4">
  <div class="details">
    <p class="title">DETAILS</p>
    <p class="small">
      <span class="underline">When</span>: This Wednesday (06.10)
    </p>
    <p class="small"><span class="underline">Time</span>: 6:00 PM</p>
    <p class="small">
      <span class="underline">Where</span>: Keplerstraße 66/14
    </p>
  </div>
</div>
<div class="container container3">
  <p class="title">Should you still bring a present for Juan?</p>
  <p class="small">Not really!</p>
  <p class="smaller">I'm already lucky to have you as a friend</p>
</div>
<div class="container container5">
  <p class="title">Bring drinks, I'll take care of the rest!</p>
  <p class="small">It's gonna be pizza everywhere!</p>
  <p class="even-smaller">(and vegan pizza too!)</p>
</div>
