<div class="container container1">
  <!-- <h1>Hey Vanessa!</h1> -->
  <h1>Hey {{ name$ | async | titlecase }}!</h1>
  <p>Juan has a surprise for you</p>
  <div>(scroll down)</div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
<div class="container container2">
  <p class="title">
    You are invited to my <span class="underline">shared</span> birthday party!
  </p>
  <p class="small">Everyone brings a present and everyone gets one</p>
  <p class="smaller">(we will randomly distribute them!)</p>
</div>
<div class="container container4">
  <div class="details">
    <p class="title">DETAILS</p>
    <p class="small">
      <span class="underline">When</span>: This Wednesday (06.10)
    </p>
    <p class="small"><span class="underline">Time</span>: 6:00 PM</p>
    <p class="small">
      <span class="underline">Where</span>: Keplerstraße 66/14
    </p>
  </div>
</div>
<div class="container container3">
  <p class="title">Should you still bring a present for me?</p>
  <p class="small">Not really!</p>
  <p class="smaller">I'm already lucky to have you as a friend</p>
</div>
