<div class="font-sans text-white text-center font-light">
  <!-- FIRST CONTAINER -->
  <div
    class="bg-gradient-to-b from-[#ff65d9] to-pink-500 flex items-center flex-col h-screen justify-between p-6"
  >
    <div></div>
    <div class="">
      <h1 class="text-7xl mb-8">Hey {{ name | titlecase }}!</h1>
      <p class="lg:text-2xl">Juan has a surprise for you...</p>
    </div>
    <div class="p-4 animate-bounce-slow text-4xl">👇</div>
  </div>
  <!-- END FIRST CONTAINER -->
  <!-- SECOND CONTAINER -->
  <div
    class="bg-purple-700 flex items-center flex-col h-screen justify-between p-6"
  >
    <div></div>
    <div class="">
      <h1 class="text-4xl mb-8 lg:text-6xl">
        You are invited to his birthday party!
      </h1>
    </div>
    <h1 class="text-4xl mb-8 lg:text-6xl">🎉 🎉 🎉</h1>
    <div>
      <p class="lg:text-2xl">
        The party theme is <span class="font-semibold">sex-positivity</span>
      </p>
    </div>
    <p class="lg:text-2xl lg:px-36">
      <span class="font-semibold">Sex-positivity</span> is the attitude towards
      human sexuality that regards all consensual sexual activities as
      fundamentally healthy and pleasurable
    </p>
    <div class="p-4 animate-bounce-slower text-4xl">👇</div>
  </div>
  <!-- END SECOND CONTAINER -->
  <!-- THIRD CONTAINER -->
  <div
    class="bg-pink-500 flex items-center flex-col h-screen justify-between p-6"
  >
    <div></div>
    <div class="">
      <h1 class="text-4xl mb-8 lg:text-6xl">
        Get yourself ready for great music and fun!
      </h1>
    </div>
    <h1 class="text-4xl mb-8 lg:text-6xl">💃🏻 🤩 🕺</h1>
    <div>
      <p class="lg:text-xl lg:px-72">
        This will be an informal party where you can safely talk taboo, play
        daring games, and explore with others.
      </p>
    </div>
    <p class="text-sm lg:text-md">
      (All within the boundaries of consent and respect!)
    </p>
    <div class="p-4 animate-bounce-slower text-4xl">👇</div>
  </div>
  <!-- END THIRD CONTAINER -->
  <!-- FOURTH CONTAINER -->
  <div
    class="bg-purple-700 flex items-center flex-col h-screen justify-between p-6 lg:px-48"
  >
    <div></div>
    <div class="">
      <h1 class="text-4xl mb-8 lg:text-6xl">
        The event is divided in two parts
      </h1>
    </div>
    <div>
      <div class="text-left mb-16">
        <p class="font-normal lg:text-2xl">First Part: 💃🏻 🕺</p>
        <p class="text-sm font-thin lg:text-xl">
          The first part is a casual setting with music, drinks and chatter. We
          will play board games, drinking games, dancing games, and the like.
          The first part will be like any other party.
        </p>
      </div>
      <div class="text-left">
        <p class="font-normal lg:text-2xl">Second Part: 👙 🩲</p>
        <p class="text-sm font-thin lg:text-xl">
          The second part is aimed at playful exploration. In this part, we will
          strip our clothes to stay in underwear or the kinky attire your chose
          to put. Here you can expect games* like ultimate twister, sexy jenga,
          spin the bottle, truth or dare, and the like.
        </p>
      </div>
    </div>
    <p>*Participation in games is up to you.</p>
    <div class="p-4 animate-bounce-slower text-4xl">👇</div>
  </div>
  <!-- END FOURTH CONTAINER -->
  <!-- FIFTH CONTAINER -->
  <div
    class="bg-pink-500 flex items-center flex-col h-screen justify-between p-6"
  >
    <div></div>
    <h1 class="text-4xl mb-8 lg:text-6xl">How many people are coming?</h1>
    <span class="text-7xl">🤩</span>
    <span class="text-2xl lg:text-3xl">We expect at leats 15 people</span>
    <div class="">
      <p class="font-thin lg:text-xl">
        Guests are people that Juan knows personally and who he trusts to always
        be respectful to one another
      </p>
    </div>
    <div class="p-4 animate-bounce-slower text-4xl">👇</div>
  </div>
  <!-- END FIFTH CONTAINER -->
  <!-- SIXTH CONTAINER -->
  <div
    class="bg-purple-700 flex items-center flex-col h-screen justify-between p-6"
  >
    <div></div>
    <div class="">
      <h1 class="text-4xl mb-8 lg:text-6xl">FAQ</h1>
    </div>
    <div class="lg:px-36 text-left">
      <div class="mb-10">
        <p class="font-normal lg:text-2xl">What should I wear? 🤵‍♀️🤵</p>
        <p class="text-sm font-thin lg:text-lg">
          There's no dress code. Come as you feel the most comfortable. For part
          two we expect some people to wear kinky/sexy attires*, but regular
          underwear totally works.
        </p>
        <p class="text-xs italic mt-2 opacity-50">
          *If you don't feel comfortable stripping your clothes, you can stay
          just for part one. That's totally fine!
        </p>
      </div>
      <div class="mb-10">
        <p class="font-normal lg:text-2xl">
          What will really happen in part two? 🙌
        </p>
        <p class="text-sm font-thin lg:text-lg">
          Games might prompt you to get closer to someone, maybe kiss them, or
          perhaps touch each other in interesting ways. Who knows, maybe you
          really enjoy someone and you both decide to cuddle in one of the
          rooms. Regardless, you can always refrain from doing anything you
          don't feel comfortable with.
        </p>
      </div>
      <div class="mb-10">
        <p class="font-normal lg:text-2xl">Will there be food? 🍕</p>
        <p class="text-sm font-thin lg:text-lg">
          Drinks and snacks will be provided throughout the party, but make sure
          you have proper dinner beforehand.
        </p>
      </div>
    </div>
    <div class="p-4 animate-bounce-slower text-4xl"></div>
  </div>
  <!-- END SIXTH CONTAINER -->
  <!-- SEVENTH CONTAINER -->
  <div
    class="bg-gradient-to-b from-[#ff65d9] to-pink-500 flex items-center flex-col h-screen justify-center p-6"
  >
    <!-- <div></div> -->
    <div class="">
      <h1 class="text-5xl mb-16 lg:text-6xl">When?</h1>
      <div class="text-left px-12">
        <p class="text-1x mb-2 lg:text-2xl">
          <span class="font-semibold">Date:</span> July 2nd
        </p>
        <p class="text-1xl lg:text-2xl">
          <span class="font-semibold">Time:</span> 8:00 pm (second part starts
          at about 10)
        </p>
      </div>
    </div>
  </div>
  <!-- END SEVENTH CONTAINER -->
  <!-- SEVENTH CONTAINER -->
  <div
    class="bg-purple-700 flex items-center flex-col h-screen justify-center p-6"
  >
    <!-- <div></div> -->
    <div class="">
      <h1 class="text-5xl mb-8 lg:text-6xl">Do you have questions?</h1>
      <p class="text-1xl lg:text-2xl">Just reach out!</p>
    </div>
  </div>
  <!-- END SEVENTH CONTAINER -->
</div>
