<div class="h-screen w-full flex items-center pt-[10vh] flex-col bg-gradient-to-r from-indigo-500 to-purple-800 font-mono">
  <div *ngFor="let link of links">
    <a [href]="link.url" class="block p-5 text-white underline underline-offset-2 hover:font-semibold">{{ link.text }}</a>
  </div>

  <div class="mt-10">
    <div id="mc_embed_signup">
      <form
        action="https://jdjuan.us2.list-manage.com/subscribe/post?u=395582e416a0c357e50836500&amp;id=4a66f17d42"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <!-- <input type="email" value="" name="EMAIL" class="email text-field" id="mce-EMAIL" placeholder="Get the next post in your inbox" required /> -->
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input type="text" name="b_395582e416a0c357e50836500_4a66f17d42" tabindex="-1" value="" />
          </div>
          <div class="clear">
            <input
              type="submit"
              value="Subscribe"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button subscribe-button rounded-lg p-2 shadow-md bg-white cursor-pointer hover:bg-orange-500 transition-all duration-100"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
